<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #114c5f;">
  <!-- Section: Social media -->
  <section>
    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-faceboo-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitte"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-googl"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagra"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedn"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-githb"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase h6-marca  mb-4">
            Vita Edu
          </h6>
          <p>
            {{ 'FOOTER_INFO' | translate }}
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            {{ 'FOOTER_TERMS' | translate }}
          </h6>
          <p>
            <a href="" class="text-reset">{{ 'FOOTER_PRIVACY' | translate }}</a>
          </p>
          <p>
            <a href="" class="text-reset">{{ 'FOOTER_SERVICES' | translate }}</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            {{ 'DOCS' | translate }}
          </h6>
          <p>
            <a href="/landing/Docs-EduMind" class="text-reset"> {{ 'Introduction' | translate }}</a>
          </p>
          <p>
            <a href="" class="text-reset"> {{ 'Software Architecture' | translate }}</a>
          </p>
          <p>
            <a href="" class="text-reset"> {{ 'Wireframes' | translate }}</a>
          </p>
        
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">{{ 'CONTACT' | translate }}</h6>
          <p><i class="fas fa-home"></i> {{ 'ADDRESS_CONTACT' | translate }}</p>
          <p><i class="fas fa-envelope"></i> {{ 'FOOTER_EMAIL' | translate }}</p>
          <p><i class="fas fa-phone"></i> {{ 'FOOTER_PHONE' | translate }}</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2025 Copyright:
    <a class="text-reset fw-bold" href="#">VitaEdu.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
