<app-nav-bar-edu-mind></app-nav-bar-edu-mind><br><br><br>
<app-social-medial-edu-mind></app-social-medial-edu-mind>
<div class="help-breadcrumb-container pt-4">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a  href="/landing/Home-VitaEdu" class="text-decoration-none">{{ 'HOME' | translate }}</a></li>
                <li class="breadcrumb-item"><a href="/landing/Docs-VitaEdu" class="text-decoration-none">Getting Started</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ 'PROJECT_VITAEUD_H1_3_DOCS' | translate }}</li>
            </ol>
        </nav>
    </div><!--//container-->
</div><!--//help-breadcrumb-container-->

<div class="help-content-wrapper theme-section pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <section class="main-section order-lg-last">
                    <article class="help-article mb-5">
                        <header class="article-header mb-5">
                            <h1 class="heading-level-1 text-center mb-2">{{ 'DOCS_PROJECT_VITAEUD_H1_1_DOCS' | translate }}</h1>
                            <div class="article-meta mx-auto d-flex justify-content-center align-items-center">
                                <img class="meta-profile-image me-3" src="../../../../assets/img-EduMind/logos/logo-login.svg"
                                    alt="image">
                                <div class="meta-info-wrapper">
                                    <div class="meta-author">{{ 'WRITTEN_BY_META_DOCS' | translate }}</div>
                                    <div class="meta-time">{{ 'LAST_UPDATE_META_DOCS' | translate }}</div>
                                </div>
                            </div><!--//article-meta-->
                        </header>

                        <p>{{ 'PROJECT_VITAEUD_INTRO_TEXT_1_DOCS' | translate }}</p>

                        <div class="theme-callout theme-callout-info">
                            <strong>{{ 'IMPORTANT_NOTE_DOCS' | translate }}</strong> {{ 'NOTE_TEXT_DOCS' | translate }}
                        </div><!--//theme-call-out-->

                        <h2 id="introduccion" class="heading-level-2">{{ 'INTRO_H2_1_DOCS' | translate }}</h2>
                        <p>{{ 'STRESS_IMPACT_DOCS' | translate }}</p>

                        <div class="figure-holder single-col-max mx-auto py-5">
                            <figure class="figure mb-5">
                                <img class="img-fluid p-1 p-lg-5"
                                    src="assets/images/features/feature-figure-components.png" alt="">
                                <figcaption class="figure-caption text-center">{{ 'IMG_DESCRIP_DIAGRAMA' | translate }}
                                </figcaption>
                            </figure>
                        </div><!--//figure-holder-->

                        <p>{{ 'DATA_FLOW_DIAGRAM_DOCS' | translate }}</p>

                        <h3 id="tecnicas-usadas" class="heading-level-3">{{ 'TECHNIQUES_USED_H3_DOCS' | translate }}</h3>

                        <p>{{ 'ML_TECHNIQUES_DOCS' | translate }}</p>
                        <h3 id="dispositivos" class="heading-level-3">{{ 'DEVICES_USED_H3_DOCS' | translate }}</h3>

                        <p>{{ 'WEARABLE_DEVICES_DOCS' | translate }}</p>
                        <h3 id="algoritmo-teclado" class="heading-level-3">{{ 'KEYBOARD_ALGORITHM_H3_DOCS' | translate }}</h3>

                        <p>{{ 'KEYBOARD_ALGORITHM_DOCS' | translate }}</p>

                        <h2 id="implementacion" class="heading-level-2">{{ 'IMPLEMENTATION_H2_1_DOCS' | translate }}</h2>
                        <p>{{ 'IMPLEMENTATION_TEXT_DOCS' | translate }}</p>

                        <h4 class="heading-level-4">{{ 'IMPLEMENTATION_STEPS_H4_DOCS' | translate }}</h4>

                        <ol class="article-list-custom">
                            <li><strong>{{ 'IMPLEMENTATION_STEPS_LIST_DOCS_T1' | translate }}</strong>{{ 'IMPLEMENTATION_STEPS_LIST_DOCS_D1' | translate }}</li>
                            <li><strong>{{ 'IMPLEMENTATION_STEPS_LIST_DOCS_T2' | translate }}</strong>{{ 'IMPLEMENTATION_STEPS_LIST_DOCS_D2' | translate }}</li>
                            <li><strong>{{ 'IMPLEMENTATION_STEPS_LIST_DOCS_T3' | translate }}</strong>{{ 'IMPLEMENTATION_STEPS_LIST_DOCS_D3' | translate }}</li>
                            <li><strong>{{ 'IMPLEMENTATION_STEPS_LIST_DOCS_T4' | translate }}</strong>{{ 'IMPLEMENTATION_STEPS_LIST_DOCS_D4' | translate }}</li>
                        </ol>

                        <div class="video-holder single-col-max mx-auto py-5">
                            <div class="ratio ratio-16x9 mb-5">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/_A7Y-neXRzY?si=3lZtyvKflNI_f3Yt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div><!--//video-holder-->

                        <h2 id="resultados" class="heading-level-2">{{ 'RESULTS_H2_1_DOCS' | translate }}</h2>
                        <p>{{ 'RESULTS_TEXT_DOCS' | translate }}</p>                        
                        <h4 class="heading-level-4">{{ 'RESULTS_LIST_DOCS' | translate }}</h4>
                        <ol class="article-list-custom">
                            <li><strong>{{ 'RESULTS_LIST_DOCS_R1' | translate }} - </strong> {{ 'RESULTS_LIST_DOCS_D1' | translate }}</li>
                            <li><strong>{{ 'RESULTS_LIST_DOCS_R2' | translate }} - </strong> {{ 'RESULTS_LIST_DOCS_D2' | translate }}</li>
                            <li><strong>{{ 'RESULTS_LIST_DOCS_R3' | translate }} - </strong> {{ 'RESULTS_LIST_DOCS_D3' | translate }}</li>
                        </ol>
                        <h4 class="heading-level-4">{{ 'CODE_EXAMPLE_DOCS_h4' | translate }}</h4>
                        <p>{{ 'CODE_EXAMPLE_DOCS' | translate }}</p>
                       
                        <h4 class="heading-level-4">Tabla de Resultados:</h4>
                        <p>{{ 'TABLE_OF_RESULTS_DOCS' | translate }}</p>
                        <table class="table table-striped my-5">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{ 'TABLE_DOCS_1' | translate }}</th>
                                    <th scope="col">{{ 'TABLE_DOCS_2' | translate }}</th>
                                    <th scope="col">{{ 'TABLE_DOCS_3' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{ 'TABLE_DOCS_E1' | translate }}</td>
                                    <td>{{ 'TABLE_DOCS_N1' | translate }}</td>
                                    <td>{{ 'TABLE_DOCS_R1' | translate }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>{{ 'TABLE_DOCS_E2' | translate }}</td>
                                    <td>{{ 'TABLE_DOCS_N2' | translate }}</td>
                                    <td>{{ 'TABLE_DOCS_R2' | translate }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>{{ 'TABLE_DOCS_E3' | translate }}</td>
                                    <td>{{ 'TABLE_DOCS_N3' | translate }}</td>
                                    <td>{{ 'TABLE_DOCS_R3' | translate }}</td>
                                </tr>
                            </tbody>
                        </table><!--//table-->
                    </article><!--//help-article-->
                    <section class="social-share-section py-5">
                        <div
                            class="section-inner d-flex flex-column flex-lg-row justify-content-between align-items-center mt-5">
                            <div class="intro mb-3 mb-lg-0">{{ 'ARTICLE_RATING_SECTION_DOCS' | translate }}</div>
                            <ul class="social-list list-unstyled mb-0">
                                <li class="list-inline-item"><a class="text-link" ><fa-icon [icon]="faThumbsUp" size="2x" style="color: #0799b665; margin-left: -50px;"></fa-icon></a></li>
                                <li class="list-inline-item"><a class="text-link" ><fa-icon [icon]="faThumbsDown" size="2x" style="color: #0799b665;"></fa-icon></a></li>
                            </ul><!--//social-list-->
                        </div>
                    </section><!--//social-share-section-->

                    <section class="related-articles-section theme-section rounded-4 shadow px-4 p-lg-5">
                        <h2 class="section-title mb-5">{{ 'RELATED_ARTICLES_SECTION_DOCS' | translate }}</h2>
                        <div class="related-items row">
                            <div class="item d-flex col-12 col-lg-6">
                                <div class="help-article-icon-holder flex-shrink-0"></div>
                                <div class="item-content ">
                                    <h3 class="item-title"><a href="#" class="text-decoration-none">{{ 'RELATED_ARTICLES_LIST_DOCS_T1' | translate }}</a></h3>
                                    <div class="item-excerpt">{{ 'RELATED_ARTICLES_LIST_DOCS_P1' | translate }}</div>
                                </div><!--//item-content-->
                            </div><!--//item-->
                            <div class="item d-flex col-12 col-lg-6">
                                <div class="help-article-icon-holder flex-shrink-0"></div>
                                <div class="item-content">
                                    <h3 class="item-title"><a href="#" class="text-decoration-none">{{ 'RELATED_ARTICLES_LIST_DOCS_T2' | translate }}</a></h3>
                                    <div class="item-excerpt">{{ 'RELATED_ARTICLES_LIST_DOCS_P2' | translate }}</div>
                                </div><!--//item-content-->
                            </div><!--//item-->
                            <div class="item d-flex col-12 col-lg-6">
                                <div class="help-article-icon-holder flex-shrink-0"></div>
                                <div class="item-content">
                                    <h3 class="item-title"><a href="#" class="text-decoration-none">{{ 'RELATED_ARTICLES_LIST_DOCS_T3' | translate }}</a></h3>
                                    <div class="item-excerpt">{{ 'RELATED_ARTICLES_LIST_DOCS_P3' | translate }}</div>
                                </div><!--//item-content-->
                            </div><!--//item-->
                            <div class="item d-flex col-12 col-lg-6">
                                <div class="help-article-icon-holder flex-shrink-0"></div>
                                <div class="item-content">
                                    <h3 class="item-title"><a href="#" class="text-decoration-none">{{ 'RELATED_ARTICLES_LIST_DOCS_T4' | translate }}</a></h3>
                                    <div class="item-excerpt">{{ 'RELATED_ARTICLES_LIST_DOCS_T4' | translate }}</div>
                                </div><!--//item-content-->
                            </div><!--//item-->
                        </div><!--//related-items-->
                    </section><!--//related-articles-->

                </section><!--//main-section-->
            </div><!--//col-->

            <div class="col-lg-4 col-xl-3 order-lg-first mt-5 mt-lg-0">
                <div class="side-bar pt-5 pt-lg-0 sticky-top">
                    <h3 class="side-bar-heading mb-4">{{ 'NAV_DOCS' | translate }}</h3>
                    <nav class="side-bar-nav">
                        <ul class="sidebar-nav-items list-unstyled flex-column">
                            <li class="nav-item"><a class="nav-link" (click)="scrollToSection('introduccion')" href="#introduccion">{{ 'NAV_DOCS_1' | translate }}</a></li>
                            <li class="nav-item"><a class="nav-link" (click)="scrollToSection('tecnicas-usadas')" href="#tecnicas-usadas">{{ 'NAV_DOCS_2' | translate }}</a></li>
                            <li class="nav-item"><a class="nav-link" (click)="scrollToSection('dispositivos')" href="#dispositivos">{{ 'NAV_DOCS_3' | translate }}</a></li>
                            <li class="nav-item"><a class="nav-link" (click)="scrollToSection('algoritmo-teclado')" href="#algoritmo-teclado">{{ 'NAV_DOCS_4' | translate }}</a></li>
                            <li class="nav-item"><a class="nav-link" (click)="scrollToSection('implementacion')" href="#implementacion">{{ 'NAV_DOCS_5' | translate }}</a></li>
                            <li class="nav-item"><a class="nav-link" (click)="scrollToSection('resultados')" href="#resultados">{{ 'NAV_DOCS_6' | translate }}</a></li>
                        </ul><!--//sidebar-nav-items-->
                    </nav><!--//side-bar-nav-->
                </div><!--//side-bar-->
            </div><!--//col-->
        </div><!--//row-->

    </div><!--//container-->
</div><!--//help-content-wrapper-->
<br><br><br><br>

<app-footer-edu-mind></app-footer-edu-mind>
