<div class="ceu">
    <div class="estrelas-wrapper hidden"></div>
    <div class="chuva-wrapper hidden">
    </div>
    <div class="nuvem-wrapper">
      <div class="nuvem nuvem1"></div>
      <div class="nuvem tipob nuvem2"></div>
      <div class="nuvem nuvem3"></div>
      <div class="nuvem tipob nuvem4"></div>
      <div class="nuvem nuvem5"></div>
      <div class="nuvem tipob nuvem6"></div>
      <div class="nuvem nuvem7"></div>
      <div class="nuvem tipob nuvem8"></div>
      <div class="nuvem nuvem9"></div>
      <div class="nuvem tipob nuvem10"></div>
    </div>
  </div>
  
  <div class="container">
    <div class="info">
      <div class="switch-wrapper">
        <label class="switch dia-noite">
                      <input type="checkbox">
                      <div class="slider">
                          <div class="dia-noite">
                              <div class="raio r1"></div>
                              <div class="raio r2"></div>
                              <div class="raio r3"></div>
                              <div class="raio r4"></div>
                          </div>
                          <div class="e-noite"></div>
                      </div>
                  </label>
        <label class="switch sol-chuva">
                      <input type="checkbox">
                      <div class="slider">
                          <div class="sol-chuva">
                              <div class="raio-chuva"></div>
                          </div>
                      </div>
                  </label>
      </div>
    </div>
  </div>
  
  <div class="bg-baixo">
    <div class="construcao-wrapper">
      <div class="predio-escuro predio-1"></div>
      <div class="predio-escuro predio-2"></div>
      <div class="predio-escuro predio-3"></div>
      <div class="predio-normal-1">
        <div class="janela-n1 janela-1 noite-brilha"></div>
        <div class="janela-n1 janela-2"></div>
        <div class="janela-n1 janela-3 noite-brilha"></div>
        <div class="janela-n1 janela-4"></div>
        <div class="janela-n1 janela-5"></div>
        <div class="janela-n1 janela-6 noite-brilha"></div>
        <div class="janela-n1 janela-7 noite-brilha"></div>
        <div class="janela-n1 janela-8"></div>
        <div class="janela-n1 janela-9 noite-brilha"></div>
        <div class="janela-n1 janela-10"></div>
        <div class="janela-n1 janela-11"></div>
        <div class="janela-n1 janela-12"></div>
        <div class="janela-n1 janela-13 noite-brilha"></div>
        <div class="janela-n1 janela-14 noite-brilha"></div>
        <div class="janela-n1 janela-15"></div>
        <div class="janela-n1 janela-16 noite-brilha"></div>
        <div class="janela-n1 janela-17"></div>
        <div class="janela-n1 janela-18"></div>
      </div>
      <div class="predio-normal-2">
        <div class="janelas-esquerda">
          <div class="janela noite-brilha"></div>
          <div class="janela"></div>
          <div class="janela noite-brilha"></div>
          <div class="janela"></div>
        </div>
        <div class="janelas-direita">
          <div class="janela-d"></div>
          <div class="janela-d"></div>
          <div class="janela-d noite-brilha"></div>
          <div class="janela-d noite-brilha"></div>
        </div>
      </div>
      <div class="predio-normal-3">
        <div class="fileira-janelas f1">
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3 noite-brilha"></div>
        </div>
        <div class="fileira-janelas f2">
          <div class="janela-n3"></div>
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3 noite-brilha"></div>
        </div>
        <div class="fileira-janelas f3">
          <div class="janela-n3"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3"></div>
        </div>
        <div class="fileira-janelas f4">
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3 noite-brilha"></div>
        </div>
        <div class="fileira-janelas f5">
          <div class="janela-n3"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3 noite-brilha"></div>
          <div class="janela-n3"></div>
          <div class="janela-n3"></div>
        </div>
      </div>
      <div class="arvore a8">
        <div class="folha arvore-1 f1"></div>
        <div class="folha arvore-1 f2"></div>
        <div class="folha arvore-1 f3"></div>
        <div class="folha arvore-1 f4"></div>
      </div>
      <div class="arvore a9">
        <div class="folha arvore-2 f1"></div>
        <div class="folha arvore-2 f2"></div>
        <div class="folha arvore-2 f3"></div>
        <div class="folha arvore-2 f4"></div>
      </div>
      <div class="arvore a10">
        <div class="folha arvore-3 f1"></div>
        <div class="folha arvore-3 f2"></div>
        <div class="folha arvore-3 f3"></div>
        <div class="folha arvore-3 f4"></div>
      </div>
      <div class="arvore a11">
        <div class="folha arvore-2 f1"></div>
        <div class="folha arvore-2 f2"></div>
        <div class="folha arvore-2 f3"></div>
        <div class="folha arvore-2 f4"></div>
      </div>
      <div class="arvore a12">
        <div class="folha arvore-3 f1"></div>
        <div class="folha arvore-3 f2"></div>
        <div class="folha arvore-3 f3"></div>
        <div class="folha arvore-3 f4"></div>
      </div>
      <div class="muro"></div>
      <div class="rua"></div>
      <div class="onibus">
        <div class="azul"></div>
        <div class="janela-padrao janela-atras"></div>
        <div class="janela-pequena janela-p-meio-1"></div>
        <div class="janela-padrao janela-meio"></div>
        <div class="janela-pequena janela-p-meio-2"></div>
        <div class="janela-padrao janela-f1"></div>
        <div class="janela-padrao janela-f2"></div>
        <div class="janela-pequena janela-p-frente"></div>
        <div class="laranja"></div>
        <div class="roda roda-1"></div>
        <div class="roda roda-2"></div>
      </div>
      <div class="rio"></div>
      <div class="poste p1">
        <div class="lampada esquerda"></div>
        <div class="lampada direita"></div>
      </div>
      <div class="poste p2">
        <div class="lampada esquerda"></div>
        <div class="lampada direita"></div>
      </div>
      <div class="poste p3">
        <div class="lampada esquerda"></div>
        <div class="lampada direita"></div>
      </div>
      <div class="poste p4">
        <div class="lampada esquerda"></div>
        <div class="lampada direita"></div>
      </div>
      <div class="arvore a1">
        <div class="folha arvore-3 f1"></div>
        <div class="folha arvore-3 f2"></div>
        <div class="folha arvore-3 f3"></div>
        <div class="folha arvore-3 f4"></div>
      </div>
      <div class="arvore a2">
        <div class="folha arvore-2 f1"></div>
        <div class="folha arvore-2 f2"></div>
        <div class="folha arvore-2 f3"></div>
        <div class="folha arvore-2 f4"></div>
      </div>
      <div class="arvore a3">
        <div class="folha arvore-1 f1"></div>
        <div class="folha arvore-1 f2"></div>
        <div class="folha arvore-1 f3"></div>
        <div class="folha arvore-1 f4"></div>
      </div>
      <div class="arvore a4">
        <div class="folha arvore-2 f1"></div>
        <div class="folha arvore-2 f2"></div>
        <div class="folha arvore-2 f3"></div>
        <div class="folha arvore-2 f4"></div>
      </div>
      <div class="arvore a5">
        <div class="folha arvore-3 f1"></div>
        <div class="folha arvore-3 f2"></div>
        <div class="folha arvore-3 f3"></div>
        <div class="folha arvore-3 f4"></div>
      </div>
      <div class="arvore a6">
        <div class="folha arvore-1 f1"></div>
        <div class="folha arvore-1 f2"></div>
        <div class="folha arvore-1 f3"></div>
        <div class="folha arvore-1 f4"></div>
      </div>
      <div class="arvore a7">
        <div class="folha arvore-2 f1"></div>
        <div class="folha arvore-2 f2"></div>
        <div class="folha arvore-2 f3"></div>
        <div class="folha arvore-2 f4"></div>
      </div>
      <div class="totens">
        <div class="totem t1"></div>
        <div class="totem t2 esquerda"></div>
        <div class="totem t2 direita"></div>
        <div class="totem t3 esquerda"></div>
        <div class="totem t3 direita"></div>
        <div class="totem t4 esquerda"></div>
        <div class="totem t4 direita"></div>
        <div class="totem t5 esquerda"></div>
        <div class="totem t5 direita"></div>
        <div class="totem t6 esquerda"></div>
        <div class="totem t6 direita"></div>
        <div class="totem t7 esquerda"></div>
        <div class="totem t7 direita"></div>
      </div>
      <div class="construcao-do-centro">
        <div class="centro"></div>
      </div>
    </div>
  </div>
